.round {
    border-radius: 200px !important;
}

.noshadow {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.center-icon {
    display:inline-block;
    font-size: 40px;
    line-height: 50px;
    background-color:black;
    color:white;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

/*#container.search-mode #search-box {
    width: 83% !important;
}

#container.search-mode #back-button {
    display: inline !important;
}*/

.btn.center {
    margin: 0 auto;
}

.nopadding {
    padding: 0 !important;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.flex-item {
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.quick-icon {
    visibility: hidden;
}

.loadinggif
{
    background:
            url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
            no-repeat
            right center;
}